@use '../abstracts/' as *;


/* Footer
-------------------------------------------------------------- */

#footer {
    padding: 0px 0 3px;
    position: relative;
    &.home {
        padding: 0px 0 25px;
        .copy-right {
            margin-right: -6px;
        }
    }
}

/* Widget
-------------------------------------------------------------- */

/*widget-logo*/
.widget-logo {
    margin-right: 104px;
}

.widget-contact {
    .contact-box {
        .icon-box  {
            width: 33.8%;
            i {
                font-size: 18px;
                    color: #D72650;
                    font-weight: 600;
                    font-size: 13px;
                    margin-top: 8px;
                    margin-right: 13px;
            }
            p {
                color: #C3C2D1;
                @include transition3;
            }
            &.icon-box3,
            &.icon-box2 {
                width: 28.3%;
                i {
                    margin-right: 9px;
                }
            }
            .title-box a p {
                &:hover {
                    color: $color-1;
                }
            }
        }
    }
}

.copy-right {
    text-align: end;
    margin-right: 0px;
    margin-top: 26px;
    color: #C3C2D1 !important;
}
