@use '../abstracts/' as *;

// hover img
.flat-im {
    -webkit-transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
    transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
}

.hover-img { 
    .img-style {
        overflow     : hidden;  border-radius: 5px;
        img {
            width             : 100%;
            object-fit        : cover;
            -webkit-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
            transition: all 1s cubic-bezier(0, 0, 0.2, 1);
            transition: transform 500ms ease;
        }
    }
    &:hover { 
        img {
            -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1);
            -webkit-transition: all 1.5s cubic-bezier(0, 0, 0.2, 1);
            transition: all 1.5s cubic-bezier(0, 0, 0.2, 1); 
        }
    }
} 

.hv-one {
    position: relative;
    .hover-one::after,
    .hover-one::before {
        content: "";
        background: var(--primary-color);
        height: 0;
        width: 0;
        z-index: 1;
        position: absolute;
        opacity: .7;
    }
    .hover-one {
        &::after {
            z-index: 3;
            bottom: 0;
            left: 0;
        }
        &::before {
            z-index: 3;
            right: 0;
            top: 0;
        }
    }
    &:hover .hover-one::after,
    &:hover .hover-one::before  {
        height: 100%;
        width: 100%;
        opacity: 0;
        transition-duration: 1.3s!important;
    }
}

.box-hv {
    .hover-style {
        position: relative;
        &::before {
            content: '';
            @include absolute;
            background: $bg-color;
            opacity: 0.8;
            width: 100%;
            height: 100%;
            @include transition3;
            z-index: 1;
            transform: scale(1, 0 );
            transform-origin: top;
            transition: transform 500ms ease;
        }
    }  
    &:hover .hover-style::before {
        transform: scale(1, 1);
        transform-origin: top;
    } 

}

