
$font-1:'Inter', sans-serif;
$font-2:'Poppins', sans-serif;
$font-3:'Roboto', sans-serif;
$bg-h2: #180D45;
$color-h2: #FABE3C;
$color-1: #fff;
$color-2: #000;
$color-3: #F38535;
$color-5: rgba(255, 255, 255, 0.1);
$color-6: rgba(255, 255, 255, 0.6);
$color-8: rgba(255, 255, 255, 0.8);
$bg-color: linear-gradient(173.06deg, #E6902B -0.31%, #A91B3D 99.69%);
$bg-color2: linear-gradient(85.06deg, #E6902B -0.31%, #A91B3D 99.69%);